<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品编辑</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- 富文本编辑器 -->
	<link rel="stylesheet" href="../plugins/kindeditor/themes/default/default.css" />
	<script charset="utf-8" src="../plugins/kindeditor/kindeditor-min.js"></script>
	<script charset="utf-8" src="../plugins/kindeditor/lang/zh_CN.js"></script>
    
    
      
    
    
</head>

<body class="hold-transition skin-red sidebar-mini" >
    <div id="app">







        <div class="box-header with-border">
		<h3 class="box-title">规格申请</h3>
	</div>

            <!-- 正文区域 -->
            <section class="content">

                <div class="box-body">

                    <!--tab页-->
                    <div class="nav-tabs-custom">


						
                        <!--tab内容-->
                        <div class="tab-content">
                            <!--表单内容-->
                            <div class="tab-pane active" id="home">
                                <div class="row data-type">
                                    <div >


                                        <div class="col-md-2 title" >一级分类</div>
                                        <div class="col-md-7 data">
                                            <input type="text" class="form-control"  v-model="entity.itemCat1List.name"    placeholder="商品名称" value="">
                                        </div>


                                        <div class="col-md-1 title" >模板</div>
                                        <div class="col-md-2 data">
                                            <table width="100%">
                                                <tr>
                                                    <td>
                                                        <select class="form-control" v-model="entity.itemCat1List.typeId">
                                                            <option  v-for="entity in list" :value="entity.id" >{{entity.name}}</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>



                                        <div class="col-md-2 title" >二级分类</div>
                                        <div class="col-md-7 data">
                                            <input type="text" class="form-control" v-model="entity.itemCat2List.name"    placeholder="商品名称" value="">
                                        </div>


                                        <div class="col-md-1 title" >模板</div>
                                        <div class="col-md-2 data">
                                            <table width="100%">
                                                <tr>
                                                    <td>
                                                        <select class="form-control" v-model="entity.itemCat2List.typeId">
                                                            <option  v-for="entity in list" :value="entity.id"  >{{entity.name}}</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>


                                        <div class="col-md-2 title" >三级分类</div>
                                        <div class="col-md-7 data">
                                            <input type="text" class="form-control" v-model="entity.itemCat3List.name"    placeholder="商品名称" value="">
                                        </div>


                                        <div class="col-md-1 title" >模板</div>
                                        <div class="col-md-2 data">
                                            <table width="100%">
                                                <tr>
                                                    <td>
                                                        <select class="form-control" v-model="entity.itemCat3List.typeId" >
                                                            <option  v-for="entity in list" :value="entity.id" >{{entity.name}}</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                           
                            <!--扩展属性-->

                        </div>
                        <!--tab内容/-->
						<!--表单内容/-->

                    </div>




                   </div>


                  <div class="btn-toolbar list-toolbar">
				      <button class="btn btn-primary"  @click="add()"><i class="fa fa-save"></i>保存</button>
				  </div>

            </section>


<!-- 上传窗口 -->



<!-- 自定义规格窗口 -->



            
            <!-- 正文区域 /-->

</div>
</body>


<script type="text/javascript">

    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="content"]', {
            allowFileManager : true
        });
    });

</script>

<script src="../plugins/vue/vue.js"></script>
<script src="../js/controller/base.js"></script>
<script src="../plugins/axios/axios.js"></script>
<script src="../js/controller/itemCatController.js"></script>
</html>